.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* //////////////////////////////////////// */

/* img>>> Logimages */
.img-log img{
  height: 80vh;
}
/* //////////////////////// */
.product .image{
    width: 100%;
    height: 250px;
}
/* Start Animation on Products */
.product{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease , transform 0.3s ease-in;
}
.show{
  opacity: 1;
  transform: translateY(0);
}

/* END Animation on Products */
.my-icon{
  font-size: 30px;
  color: #c86f26;
  cursor: pointer;
}
.shopping-cart{
  transform: translate(-10rem ,0);
  list-style: none;
}
.badge{
  position: absolute;
  width: 25px;
  height: 20px;
  background-color: #ffff00;
  text-align: center;
  display: block;
  border-radius: 50%;
  top: 0px;
  font-size: 20px;
}

/* /////////////////////////////////// */
